<style>
	.chicago_style{
		border: solid 1px black;
		border-radius: 10px;
		padding: 1em;
	}
	.chicago_title{
		color: green;
	}
	.italic{
		font-style: italic;
	}
	.notes{
		font-size: 10px;
	}
</style>

<div>
	<h3 class="chicago_title">
		Chicago representation
	</h3>
</div>

<!-- http://www.chicagomanualofstyle.org/tools_citationguide.html -->
<!-- Data as vezes aparece noutros sitios-->

<div class="thesis_style">
	<span class="author"> {{ AUTHOR }},</span>
	<span class="title italic"> "{{ TITLE }}" Phd diss.,</span>
	<span class="institution"> {{ INSTITUTION }}, </span>
	<span class="year"> {{ YEAR }}. </span>
	<span class="crossref"> ref. to {{ CROSSREF }} </span>
</div>