<html>

<head>
<title>Bibtex2HTML</title>

<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'>


<style>
.class {
  margin-left: 30% ;
  margin-right: 30% ;
  width: 500px;
}

.class * {
	text-align: center;
}

.param {
	font-weight: bold;
}

.value_table {
	font-weight: bold;
}
</style>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>

</head>


<body>
 {{ BODY }}
</body>


</html>