<style>
	.apa_style{
		border: solid 1px black;
		border-radius: 10px;
		padding: 1em;
	}
	.apa_title{
		color: green;
	}
	.italic{
		font-style: italic;
	}
</style>

<div >
<h3 class="apa_title">
	APA representation
</h3>
</div>

<div class="apa_style">
	<span class="author"> {{ AUTHOR }} {{ ORGANIZATION }}</span>
	<span> ({{ YEAR }}{{ MONTH }}) </span>
	<span> {{ CHAPTER }} </span>
	<span class="italic"> {{ TITLE }}</span>
	<span> {{ VOLUME }} </span>
	<span> {{ NUMBER }} </span>
	<span> {{ TYPE }} </span>
	<span> {{ BOOKTITLE }} </span>
	<span class="italic"> {{ JOURNAL }} </span>
	<span> {{ HOWPUBLISHED }} </span>
	<span> {{ INSTITUTION }} {{ SCHOOL }}</span>
	<span> {{ EDITION }} {{ SERIES }} {{ PAGES }} </span>
	<span> {{ EDITOR }} </span>
	<span> {{ ADDRESS }} </span>
	<span> {{ PUBLISHER }} </span>
	<span> {{ NOTE }} </span>
	<span> {{ ANNOTE }} </span>
	<span> {{ CROSSREF }} </span>
	<span> {{ KEY }} </span>
</div>

